@model L1.ViewModels.EditChallenge

@{
    ViewData["Title"] = "Nýtt";
}

<h1>Create</h1>

<h4>Challenge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Challenge.OrderInSequence" class="control-label"></label>
                <input asp-for="Challenge.OrderInSequence" class="form-control" />
                <span asp-validation-for="Challenge.OrderInSequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Name" class="control-label"></label>
                <input asp-for="Challenge.Name" class="form-control" />
                <span asp-validation-for="Challenge.Name" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Challenge.Text" class="control-label"></label>
                <input asp-for="Challenge.Text" class="form-control" />
                <span asp-validation-for="Challenge.Text" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Challenge.Description" class="control-label"></label>
                <input asp-for="Challenge.Description" class="form-control" />
                <span asp-validation-for="Challenge.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Question" class="control-label"></label>
                <input asp-for="Challenge.Question" class="form-control" />
                <span asp-validation-for="Challenge.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Type" class="control-label"></label>
                <select asp-for="Challenge.TypeId" asp-items="@Model.Types" class="form-control"></select>
                <span asp-validation-for="Challenge.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.DifficultyLevel" class="control-label"></label>
                <select asp-for="Challenge.DifficultyLevelId" asp-items="@Model.DifficultyLevels" class="form-control"></select>
                <span asp-validation-for="Challenge.DifficultyLevel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Challenge.IsOpenForAll" /> @Html.DisplayNameFor(model => model.Challenge.IsOpenForAll)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.CorrectOptionId" class="control-label"></label>
                <input asp-for="Challenge.CorrectOptionId" class="form-control" />
                <span asp-validation-for="Challenge.CorrectOptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Options[0]" class="control-label"></label>
                <input asp-for="Challenge.Options[0]" class="form-control" />
                <span asp-validation-for="Challenge.Options[0]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Options[1]" class="control-label"></label>
                <input asp-for="Challenge.Options[1]" class="form-control" />
                <span asp-validation-for="Challenge.Options[1]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Options[2]" class="control-label"></label>
                <input asp-for="Challenge.Options[2]" class="form-control" />
                <span asp-validation-for="Challenge.Options[2]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Challenge.Options[3]" class="control-label"></label>
                <input asp-for="Challenge.Options[3]" class="form-control" />
                <span asp-validation-for="Challenge.Options[3]" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
