
@{
    ViewData["Title"] = "View";
}

<h1>Enda setning</h1>

<label>Setningur</label>
<input name="challenge" type="text" />
<br /><br />
<label title="">Valmöguleiki 1</label>
<input name="option1" type="text" />
<br /><br />
<label title="">Valmöguleiki 2</label>
<input name="option2" type="text" />
<br /><br />
<label title="">Valmöguleiki 3</label>
<input name="option3" type="text" />
<br /><br />
<label title="">Valmöguleiki 4</label>
<input name="option4" type="text" />

<br /><br />
<button class="btn btn-warning"><i class="fas fa-plus"></i> Trýst út till brúkara</button>
<button class="btn btn-success"><i class="fas fa-plus"></i> Goym sum standard venjing</button>