@model L1.Models.ChallengeOption

    <div class="col-md-6">
        <div class="form-group" id="option0">
            <div class="alert alert-dismissible alert-light option" id="option0" data-optionid="0">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </div>
