@model L1.Models.ChallengeOption

@{
    string cssClass = Model.IsCorrect ? "alert alert-dismissible alert-success option" : "alert alert-dismissible alert-light option";
}

    <div class="col-md-6">
        <div class="form-group">
            <div class="@(cssClass)" >
                <input asp-for="Content" class="form-control" title="Valmøguleiki" placeholder="Valmøguleiki" />
                <input asp-for="IsCorrect" class="form-check-input OptionCorrect" title="Er rætt" /> Rætt svar
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </div>
